# Latex files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.syo
*.klo
*.bcf
*.xml
*blx.bib

# Mac finder files and hidden folders
.DS_Store

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# other
*.key
bem.pdf
inflow.pdf
velocity-deficit.pdf
*.idraw

# julia
*.jl.cov
*.jl.*.cov
*.jl.mem

# jupyter
.ipynb_checkpoints

docs/build/
docs/site/

# Should this be ignored?
# https://discourse.julialang.org/t/does-manifest-toml-belong-in-the-repository/12029/3
Manifest.toml
